<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>wms</title>
    <link rel="shortcut icon" href="logo.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>

    <style>
        .contain{
            width:95%;
            margin-left: 2%;
        }

        .deer-cell{
            height:150px;
        }

        .cell{
            width:95%;
            height:80%;
            margin-top:10px;
            margin-left:5px;

            border-radius:5px;
            padding: 16px 20px;
        }

        .cell > .leftBox {
            float:left;
        }
        .cell > .leftBox > div.headTitle {
            font-size: 28px;
            color: #fff;
            font-weight:bold;
        }

        .cell > .leftBox>div.footConst {
            color: #fff;
            font-size: 14px;
        }

        .cell>div.rightIcon {
            /*right: ;*/
            font-size:75px;
            float:right;
            color:rgba(0,0,0,.3);
        }

        @media screen and (max-width: 980px) {
            .cell>div.rightIcon {
                display:none;
            }

            #tongji{
                display:none;
            }

            #huowei{
                height: 250px;
            }
            .

        }

        .deer-cell2{
            height:380px;
        }
        .cell2{
            width:98%;
            height:90%;
            margin-top:10px;
            margin-left:0px;

            border-radius:5px;
            border-color: #eacf02;
        }
        .cell3{
            width:98%;
            height:80%;
            margin-top:0px;
            margin-left:5px;
            border-style: solid;
            border-radius:5px;
            border-color: #eacf02;
        }


        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }

        .box-card {
            width: 480px;
        }

        .ranking-board{
            margin-top:20px;
            padding:20px;
            border-radius:8px;
            background:#fff;
            box-shadow:0 2px 18px rgba(0,0,0,0.05);
        }
        .ranking-toolbar{
            margin-bottom:15px;
        }
        .ranking-toolbar .form-control{
            display:inline-block;
            width:auto;
            margin-right:10px;
        }
        .ranking-toolbar label{
            margin-right:6px;
            font-weight:600;
        }
        .ranking-card{
            background:#fafafa;
            border-radius:8px;
            padding:10px 10px 0;
            margin-bottom:15px;
            border:1px solid #f0f0f0;
        }
        .ranking-card-title{
            font-size:15px;
            font-weight:600;
            color:#333;
            padding-left:6px;
            margin-bottom:4px;
        }
        .ranking-chart{
            width:100%;
            height:320px;
        }
    </style>
    <th:block th:include="include :: header('首页')" />
</head>

<body class="gray-bg" style="background-color: white;height: auto">
<div class="contain" onmousemove="parent.updateTimeOut()">
    <div class="row" >
        <div class="col-xs-6 col-sm-3 deer-cell"
        >
            <div class="cell" style="background-color: #eacf02;">
                <div class="leftBox">
                    <div class="headTitle">入库单据</div>
                    <div class="footConst">
                        <span class="const">总数</span>&nbsp;:&nbsp;
                        <span class="const" id="totalIn"></span>
                    </div>
                    <div class="footConst">
                        <span>未完成</span>&nbsp;:&nbsp;
                        <span id="totalNoIn"></span>
                    </div>
                </div>
                <div class="rightIcon">
                    <span class="glyphicon glyphicon-barcode"></span>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 deer-cell"  >
            <div class="cell" style="background-color: #5ed5d1;">
                <div class="leftBox">
                    <div class="headTitle">出库单据</div>
                    <div class="footConst">
                        <span class="const">总数</span>&nbsp;:&nbsp;
                        <span class="const" id="totalOut"></span>
                    </div>
                    <div class="footConst">
                        <span>未完成</span>&nbsp;:&nbsp;
                        <span id="totalNoOut"></span>
                    </div>
                </div>
                <div class="rightIcon">
                    <span class="glyphicon glyphicon-list"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 deer-cell"  >
            <div class="cell" style="background-color: #abc327;">
                <div class="leftBox">
                    <div class="headTitle">仓库货位</div>
                    <div class="footConst">
                        <span class="const">总数</span>&nbsp;:&nbsp;
                        <span class="const" id="totalCell"></span>
                    </div>
                    <div class="footConst">
                        <span>可用数</span>&nbsp;:&nbsp;
                        <span id="notItemCell"></span>
                    </div>
                </div>
                <div class="rightIcon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 deer-cell" >
            <div class="cell" style="background-color: #dfb5b7;">
                <div class="leftBox">
                    <div class="headTitle">库存管理</div>
                    <div class="footConst">
                        <span class="const">库存周转天数</span>&nbsp;:&nbsp;
                        <span class="const" id="turnoverDays"></span>
                    </div>
                    <!--<div class="footConst">
                        <span>未处理</span>&nbsp;:&nbsp;
                        <span>7</span>
                    </div>-->
                </div>
                <div class="rightIcon">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
            </div>
        </div>


    </div>
   <!-- <div class="row" >
        <div class="col-xs-6 col-sm-3 deer-cell"  >
            <div class="cell" style="background-color: #7f1874;">
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 deer-cell" >
            <div class="cell" style="background-color: #6c890b;">
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 deer-cell"  >
            <div class="cell" style="background-color: #ff6e97;">
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 deer-cell"  >
            <div class="cell" style="background-color: #db9019;">
            </div>
        </div>


    </div>-->
    <div class="row" >
        <div class="col-xs-12 col-sm-9 deer-cell2 "  id="tongji" >
            <!--<div class="cell2" id="tongji" style="">
            </div>-->
        </div>
        <div class="col-xs-12 col-sm-3 deer-cell2" id="huowei"  >
           <!-- <div class="cell2"  id="huowei" >
            </div>-->
        </div>
    </div>
    <!--<div class="row" >
        <div class="col-xs-12 col-sm-4 deer-cell2 "   >
            <div class="cell3" style="">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>辅助程序状态</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>程序</th>
                                <th>状态</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>WCS设备控制系统</td>
                                <td>正常</td>


                            </tr>
                            <tr>
                                <td>EBS对接程序</td>
                                <td>正常</td>


                            </tr>
                            <tr>
                                <td>MES对接程序</td>
                                <td>非正常</td>


                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-4 deer-cell2 "   >
            <div class="cell3" style="">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据对接列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="close-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>程序</th>
                            <th>状态</th>
                            <th>更新时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>WCS设备控制系统</td>
                            <td>正常</td>


                        </tr>
                        <tr>
                            <td>EBS对接程序</td>
                            <td>正常</td>


                        </tr>
                        <tr>
                            <td>MES对接程序</td>
                            <td>非正常</td>


                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 deer-cell2 "   >
            <div class="cell3" style="">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>设备运行状态</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>设备</th>
                                <th>状态</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>堆垛机</td>
                                <td>堆垛机</td>
                                <td>堆垛机</td>

                            </tr>
                            <tr>
                                <td>堆垛机</td>
                                <td>堆垛机</td>
                                <td>堆垛机</td>

                            </tr>
                            <tr>
                                <td>堆垛机</td>
                                <td>堆垛机</td>
                                <td>堆垛机</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>-->
    <div class="ranking-board">
        <div class="ranking-toolbar">
            <div class="form-inline">
                <label for="rankingPeriodType">统计周期</label>
                <select id="rankingPeriodType" class="form-control input-sm">
                    <option value="MONTH">按月</option>
                    <option value="YEAR">按年</option>
                </select>
                <input type="month" id="rankingMonth" class="form-control input-sm" />
                <input type="number" id="rankingYear" class="form-control input-sm" min="2000" max="2100" style="display:none;width:120px;" />
                <label for="rankingLimit">显示前</label>
                <input type="number" id="rankingLimit" class="form-control input-sm" min="3" max="30" value="10" style="width:80px;" />
                <span>名</span>
                <button type="button" id="rankingQueryBtn" class="btn btn-primary btn-sm">刷新排行榜</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="ranking-card">
                    <div class="ranking-card-title">仓库库存数量排行</div>
                    <div id="inventoryRankingChart" class="ranking-chart"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="ranking-card">
                    <div class="ranking-card-title">转入商品数量排行</div>
                    <div id="inboundRankingChart" class="ranking-chart"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="ranking-card">
                    <div class="ranking-card-title">转出商品数量排行</div>
                    <div id="outboundRankingChart" class="ranking-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });


        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('tongji'));
        // 指定图表的配置项和数据
        option = {
            title: {
                text: '操作统计图'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                data:['物料数','总数','箱数']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'物料数',
                    type:'line',
                    stack: '总量',
                    areaStyle: {},
                    data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'总数',
                    type:'line',
                    stack: '总量',
                    areaStyle: {},
                    data:[220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name:'箱数',
                    type:'line',
                    stack: '总量',
                    areaStyle: {},
                    data:[150, 232, 201, 154, 190, 330, 410]
                },
                /*{
                    name:'合框',
                    type:'line',
                    stack: '总量',
                    areaStyle: {normal: {}},
                    data:[320, 332, 301, 334, 390, 330, 320]
                },*/

            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        var myChart2 = echarts.init(document.getElementById('huowei'));
        option1 = {
            title: {
                text: '货位利用率'
            },
            tooltip : {
                formatter: "{a} <br/>{b} : {c}%"
            },
            toolbox: {
                feature: {
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [
                {
                    name: '业务指标',
                    type: 'gauge',
                    detail: {formatter:'{value}%'},
                    data: [{value: 60, name: ''}]
                }
            ]
        };
        myChart2.setOption(option1, true);

        var rankingCharts = {};
        var rankingState = {
            periodType: 'MONTH',
            limit: 10,
            defaultMonth: '',
            defaultYear: ''
        };

        var initRankingBoard = function (){
            rankingState.defaultMonth = formatCurrentMonth();
            rankingState.defaultYear = new Date().getFullYear().toString();
            $('#rankingMonth').val(rankingState.defaultMonth);
            $('#rankingYear').val(rankingState.defaultYear);
            $('#rankingLimit').val(rankingState.limit);
            $('#rankingPeriodType').val(rankingState.periodType);
            toggleRankingPeriodInput();
            rankingCharts.inventory = echarts.init(document.getElementById('inventoryRankingChart'));
            rankingCharts.inbound = echarts.init(document.getElementById('inboundRankingChart'));
            rankingCharts.outbound = echarts.init(document.getElementById('outboundRankingChart'));
            $('#rankingPeriodType').on('change', function (){
                rankingState.periodType = $(this).val();
                toggleRankingPeriodInput();
                loadRankingDashboard(true);
            });
            $('#rankingLimit').on('change', function (){
                var value = parseInt($(this).val(),10);
                if(isNaN(value) || value < 3){ value = 3; }
                if(value > 30){ value = 30; }
                rankingState.limit = value;
                $(this).val(value);
                loadRankingDashboard(false);
            });
            $('#rankingQueryBtn').on('click', function (){
                loadRankingDashboard(true);
            });
            $('#rankingMonth, #rankingYear').on('change', function (){
                loadRankingDashboard(true);
            });
            window.addEventListener('resize', function (){
                Object.keys(rankingCharts).forEach(function (key){
                    if(rankingCharts[key]){
                        rankingCharts[key].resize();
                    }
                });
            });
            loadRankingDashboard(false);
        };

        var toggleRankingPeriodInput = function (){
            if(rankingState.periodType === 'YEAR'){
                $('#rankingMonth').hide();
                $('#rankingYear').show();
            }else{
                $('#rankingYear').hide();
                $('#rankingMonth').show();
            }
        };

        var buildRankingPayload = function (){
            var payload = {
                limit: rankingState.limit,
                periodType: rankingState.periodType
            };
            if(rankingState.periodType === 'YEAR'){
                var yearVal = $('#rankingYear').val() || rankingState.defaultYear;
                $('#rankingYear').val(yearVal);
                payload.periodValue = yearVal;
            }else{
                var monthVal = $('#rankingMonth').val() || rankingState.defaultMonth;
                $('#rankingMonth').val(monthVal);
                payload.periodValue = monthVal;
            }
            return payload;
        };

        var loadRankingDashboard = function (forceRefresh){
            if(!rankingCharts.inventory){
                return;
            }
            var payload = buildRankingPayload();
            if(forceRefresh){
                payload.refresh = true;
            }
            $.ajax({
                url: "/system/ranking/dashboard",
                data: payload,
                success: function (response){
                    if(response.code === 200){
                        var data = response.data || {};
                        renderRankingChart(rankingCharts.inventory, data.inventory || [], "仓库库存数量排行", payload.periodValue);
                        renderRankingChart(rankingCharts.inbound, data.inbound || [], "转入商品数量排行", payload.periodValue);
                        renderRankingChart(rankingCharts.outbound, data.outbound || [], "转出商品数量排行", payload.periodValue);
                    }else{
                        $.modal && $.modal.alertError && $.modal.alertError(response.msg || "获取排行榜失败");
                    }
                },
                error: function (){
                    $.modal && $.modal.alertError ? $.modal.alertError("获取排行榜失败") : alert("获取排行榜失败");
                }
            });
        };

        var renderRankingChart = function (chart, data, title, periodValue){
            if(!chart){
                return;
            }
            var names = [];
            var values = [];
            (data || []).forEach(function (item){
                names.push(item.itemName || item.itemCode || "未命名");
                values.push(item.quantity != null ? item.quantity : 0);
            });
            if(names.length === 0){
                names = ["暂无数据"];
                values = [0];
            }
            var option = {
                title: {
                    text: title,
                    left: 'center',
                    textStyle: {
                        fontSize: 15,
                        fontWeight: 'bold'
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                toolbox: {
                    feature: {
                        saveAsImage: {
                            title: '下载图片',
                            name: title + "-" + periodValue
                        }
                    }
                },
                grid: {
                    left: '4%',
                    right: '4%',
                    bottom: '3%',
                    top: 50,
                    containLabel: true
                },
                xAxis: {
                    type: 'value',
                    axisLabel: { color: '#666' },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            type: 'dashed'
                        }
                    }
                },
                yAxis: {
                    type: 'category',
                    data: names,
                    axisLabel: {
                        color: '#666',
                        formatter: function (value){
                            return value && value.length > 8 ? value.substring(0,8) + '…' : value;
                        }
                    }
                },
                series: [{
                    name: '数量',
                    type: 'bar',
                    data: values,
                    barWidth: '55%',
                    itemStyle: {
                        color: '#5ed5d1'
                    },
                    label: {
                        show: true,
                        formatter: '{c}',
                        position: 'right'
                    }
                }]
            };
            chart.setOption(option, true);
        };

        var formatCurrentMonth = function (){
            var date = new Date();
            var month = date.getMonth() + 1;
            return date.getFullYear() + "-" + (month < 10 ? ("0" + month) : month);
        };

        var getCellOccupyRatio = function(){
            $.ajax({
                cache : true,
                type : "get",
                url :  "/system/cellInfo/cellOccupyRatio",
                data : {},
                async : true,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    document.querySelector("#totalCell").innerText = data.data.totalCell;
                    document.querySelector("#notItemCell").innerText = data.data.notItemCell;
                    document.querySelector("#totalOut").innerText = data.data.totalOut;
                    document.querySelector("#totalNoOut").innerText = data.data.totalNoOut;
                    document.querySelector("#totalIn").innerText = data.data.totalIn;
                    document.querySelector("#totalNoIn").innerText = data.data.totalNoIn;
                    var cellOccupyRatio = data.data.cellOccupyRatio;
                    option1.series[0].data[0].value = (cellOccupyRatio*100).toFixed(2);
                    myChart2.setOption(option1, true);
                }
            });

        };

        var getTotal = function(){
            $.ajax({
                cache : true,
                type : "get",
                async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : "/system/cellInfo/totalIn",    //请求发送到dataActiont处
                data : {
                    type:1
                },
                success : function(ret) {
                    if(ret.code==200){
                        document.querySelector("#turnoverDays").innerText = ret.data.turnoverDays;
                        let list = ret.data.totalSevenDays;
                        option.xAxis[0].data = [];
                        option.series[0].data = [];
                        option.series[1].data = [];
                        option.series[2].data = [];
                        for(let i = 0;i<list.length;i++){
                            option.xAxis[0].data.push(list[i].times);
                            option.series[0].data.push(list[i].totalItemCodeQuantity);
                            option.series[1].data.push(list[i].totalQuantity);
                            option.series[2].data.push(list[i].totalBoxQuantity);
                        }
                    }
                    myChart.setOption(option, true);
                }
            });

        };
        window.onload = function () {
            getCellOccupyRatio();
            getTotal();
            initRankingBoard();
        }

        setInterval(function() {
            getCellOccupyRatio();
            getTotal();
            loadRankingDashboard(false);
        },1000*60*60*12);
    </script>
</body>
</html>
